# =============================================================================
# roles/kvm/templates/meta-data.yml.j2
# Meta data used to index instance
# =============================================================================
instance-id: {{ vm.name }}
local-hostname: {{ vm.name }}